version: "3.8"

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  # Application instances
  app1:
    build: .
    environment:
      - APP_NAME=App1
      - REDIS_URL=redis://redis:6379
    ports:
      - "3001:3000"


  app2:
    build: .
    environment:
      - APP_NAME=App2
      - REDIS_URL=redis://redis:6379
    ports:
      - "3002:3000"  

  app3:
    build: .
    environment:
      - APP_NAME=App3
      - REDIS_URL=redis://redis:6379
    ports:
      - "3003:3000"

volumes:
  redis-data:
